<html>
    <head>
        
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.min.js"></script>
  
  
  
  s
        <script>
            $("document").ready(function() {
                $("#btn1").click(function() {
                    $("h1").toggle("slow");
                    $('#move').animate({left:"+=300px"},3000); 
                    $('#move').animate({left:"-=300px"},3000); 
});
});

$("document").ready(function(){
  $('.bxslider').bxSlider({
    mode: 'fade',
    captions: true,
    slideWidth: 600
  });
});
        </script>
    
        
    </head>
    
    <body>
    <button id="btn1">클릭</button>
    <h1 style="display:none;"> 멋쟁이사자처럼</h1>
    
    <div id='move' style="background-color : green;width:100px;height:100px;position:relative"></div>
        
    
    
<!--<div class="bxslider">-->
<!--  <div><img src="/assets/coffee1.jpg" ></div>-->
<!--  <div><img src="/assets/coffee2.jpg" ></div>-->
<!--  <div><img src="/assets/coffee3.jpg"></div>-->
<!--</div>-->
  
    </body>
    
    
</html>